<h1>{{title}}</h1>

<p *ngIf="siHay" > No hay competencias</p>

<button (click)="guardarEquipo()"> Agregar competencia </button>

<div>
    <div *ngFor="let persona of personas; let i = index">
        <p>Id registro numero:{{persona.id}}......
            Fecha y hora {{persona.fecha | date:"short"}} </p>
            <p>id registro <input type="text" [(ngModel)]="borrar" >         </p>
            <button (click)="borrarRegistro()"> Eliminar competencia</button>
        <br>
        <p>Nombre<input type="text" [(ngModel)]="nombre">   </p>
        <p>Descripcion<input type="text" [(ngModel)]="caracteristicas"> </p>
        <p>Descripcion Comportamiento<input type="text" [(ngModel)]="descripcion_com">   </p>
        <p>Porcentaje<input type="text" [(ngModel)]="porcentaje"> </p>
        <button (click)="agregarRegistro(i)" > Guardar </button>
        <p *ngIf="persona.registros.length<= 0"> No hay registros agregados</p>
        <br>
        <div *ngIf="persona.registros.length > 0">
            <ul *ngFor="let registro of persona.registros" >
                <p>Nombre: {{registro.nombre}}  :  Descripcion: {{registro.caracteristicas}} : 
                Descripcion Comportamiento: {{registro.descripcion_com}} : Porcentaje: {{registro.porcentaje}}</p>
            </ul>
        </div>

    </div>
</div>